source ~/.vimrc

set easymotion
set surround
set multiple-cursors
set commentary
set ReplaceWithRegister
set argtextobj
set exchange
set textobj-entire
set textobj-entire
set sneak
set ideajoinset 
clipboard+=ideaput

" map <Leader> <Plug>(easymotion-prefix)
map <Leader><Space> <Plug>(easymotion-jumptoanywhere)
map <Leader>j <Plug>(easymotion-j)
map <Leader>k <Plug>(easymotion-k)
nmap <C-s> <Plug>(easymotion-s)
nmap <C-f> <Plug>(easymotion-f2)
nnoremap <CR> :noh<CR><CR>